.sign_in_tab{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 150px;
    min-width: 100px;
}
.sign_in_button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    text-align: center;
    padding: 5px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 3px;
}